:root {
    --main-bg-color: #1A2A33;
    --primary-dark-color: #1F3641;
    --primary-light-color: #A8BFC9;
    --primary-light-color-active: #DBE8ED;
    --secondary-dark-color: #31C3BD;
    --secondary-dark-color-active: #65E9E4;
    --secondary-light-color: #F2B137;
    --secondary-light-color-active: #FFC860;    
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: var(--primary-light-color);
    font-size: 14px;
    letter-spacing: .8px;
}

/* typography */
.xs-heading {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
.s-heading {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-align: center;
}
.m-heading {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
}
.l-heading {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-align: center;
}

/* UTILITY */

.hidden {
    display: none;
}

.btn {
    border: none;
    cursor: pointer;
}

/* APP */
.app-wrap {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* START SCREEN */
.start-screen {
    width: 460px;
    height: 471px;
}
.start-screen-icons-wrap {
    margin: 0 auto 2.5rem;
    width: 72px;
    height: 32px;
}
.sm-icon {
    width: 32px;
    height: 32px;
}
.pick-mark {
    width: 100%;
    height: 205px;
    margin: 0 auto 2.5rem;
    background: var(--primary-dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212A;
}
.pick-mark-btn-wrap {
    width: 412px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-bg-color);
}
.icon-picker-btn {
    width: 198px;
    height: 54px;
    padding: 0;
    background: var(--main-bg-color);
    border-radius: 10px;
}

/* THE ACTIVE COLOR IS ONLY APPLIED ON HOVER WHEN THE unselected-icon-btn CLASS IS PRESENT */
.unselected-icon-btn:hover {
    background: var(--primary-dark-color);
}
.selected-icon-btn {
    background: var(--primary-light-color)
}
.sm-icon .unselected-icon {
    fill: var(--primary-light-color);                  
}
.sm-icon .selected-icon {
    fill: var(--main-bg-color);                  
}
.pick-mark-p {
    opacity: 50%;
}

/* NEW GAME BUTTONS */
.new-game-btn {
    width: 460px;
    height: 67px;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #00000041;
}
.new-game-btn:first-of-type {
    margin-bottom: 1rem;
}
.new-game-vs-cpu-btn {
    background: var(--secondary-light-color)
}
.new-game-vs-cpu-btn:hover {
    background: var(--secondary-light-color-active);
}
.new-game-vs-player-btn {
    background: var(--secondary-dark-color)
}
.new-game-vs-player-btn:hover {
    background: var(--secondary-dark-color-active);
}

/* GAME BOARD */
.game-board {
    width: 460px;
    height: 623px;
}
/* UPPER BOARD */
.game-board-icons-wrap {
    width: 72px;
    height: 32px;
    padding: .25rem 0 0 .25rem;
}
.upper-board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.restart-btn {
    width: 52px;
    height: 52px;
    background: var(--primary-light-color);
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
}
.player-turn-indicator {
    width: 140px;
    height: 52px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: var(--primary-dark-color);
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px #10212A;
}
.xs-icon {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}
.xs-icon .xs-icon-path {
    fill: var(--primary-light-color);
}
/* MAIN BOARD */
.main-board {
    width: 460px;
    height: 461px;
    margin: 0 auto 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;

}
.square {
    width: 140px;
    height: 140px;
    background: var(--primary-dark-color);
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* LOWER BOARD */
.lower-board {
    display: flex;
    justify-content: space-between;
}
.scoreboard {
    width: 140px;
    height: 72px;
    color: var(--main-bg-color);
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
}
.scoreboard-x {
    background: var(--secondary-dark-color);
} 
.scoreboard-tie {
    background: var(--primary-light-color);
} 
.scoreboard-o {
    background: var(--secondary-light-color);
} 
.scoreboard-icon,
.ties {
    margin-bottom: 0;
}
.score {
    margin: .15rem 0 0;
}
/* DARK OVERLAY */
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5)
}
/* MODALS */
.set-difficulty-modal-content-wrap,
.reset-game-modal-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.set-difficulty-modal,
.reset-game-modal,
.game-over-modal {
    position: absolute;
    height: 266px;
    width: 100%;
    text-align: center;
    background-color: var(--primary-dark-color);
    z-index: 2;
}
.game-over-msg {
    margin-top: 1.75rem;
    margin-bottom: 0;
}

.set-difficulty-btn {
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
}

.set-difficulty-btn,
.reset-btn,
.quit-btn,
.next-round-btn {
    height: 52px;
    border-radius: 10px; 
}
.quit-btn {
    width: 76px;
    background-color: var(--primary-light-color);
}
.reset-btn-cancel:hover,
.quit-btn:hover {
    background-color: var(--primary-light-color-active);
}
.set-difficulty-btn,
.reset-btn,
.next-round-btn {
    width: 146px;
    margin-left: 1rem;
}
.reset-btn-confirm,
.next-round-btn {
    background-color: var(--secondary-light-color);
}
.reset-btn-cancel {
    background-color: var(--primary-light-color);
}
.reset-btn-confirm:hover,
.next-round-btn:hover {
    background-color: var(--secondary-light-color-active);
}
.set-difficulty-btn-easy {
    background-color: var(--secondary-dark-color-active);
}
.set-difficulty-btn-easy:hover {
    background-color: var(--secondary-dark-color);
}
.set-difficulty-btn-hard {
    background-color: var(--secondary-light-color-active);
}
.set-difficulty-btn-hard:hover {
    background-color: var(--secondary-light-color);
}
.game-over-winner-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}
.game-over-winner-msg-svg {
    margin-right: 1.5rem;
}
.reset-btn {
    font-weight: bold;
    font-family: Outfit, sans-serif;
    font-size: 16px;
}

/* MEDIA QUERIES */
@media (max-width: 450px), (max-height: 500px) {
    /* START SCREEN */
    .start-screen {
        width: 327px;
        height: 429px;
    }
    .pick-mark-btn-wrap {
        width: 279px;
    }
    .new-game-btn {
        width: 327px;
        height: 56px;
    }
    .icon-picker-btn {
        width: 132px;
    }
    /* GAMEBOARD SCREEN */
    .game-board {
        width: 328px;
        height: 516px;
    }
    .main-board {
        width: 328px;
        height: 328px;
        /* grid-gap: 1rem; */
    }
    .square {
        width: 96px;
        height: 96px;
    }
    .square-svg,
    .svg-outline-active {
        width: 40px;
        height: 40px;
    }
    .player-turn-indicator {
        width: 96px;
        height: 40px;
        margin-right: 2rem;
    }
    .restart-btn {
        width: 40px;
        height: 40px;
    }
    .scoreboard {
        width: 96px;
        height: 64px;
    }
    .score {
        font-size: 20px;
        margin-top: 0;                
    }
    .scoreboard-icon {
        font-size: 12px;
    }
    /* MODALS */
    .reset-game-modal,
    .game-over-modal,
    .set-difficulty-modal {
        height: 228px;
    }
    .set-difficulty-modal-content-wrap {
        margin: 0;
    }
    .set-difficulty-modal-msg {
        font-size: 24px;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .set-difficulty-btn {
        font-size: 16px;
    }
    .game-over-modal {
        padding-top: 1rem;
    }
    .game-over-winner-msg-svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
    .reset-modal-msg,
    .end-of-round-msg {
        font-size: 24px;
    }
    .reset-modal-msg {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }


} 

@media (max-height: 450px) and (orientation: landscape) {
    /* START SCREEN */
    .start-screen {
        height: 375px;
    }
    .start-screen-icons-wrap {
        margin-bottom: 7.5px;
    }
    .pick-mark {
        margin-bottom: 7.5px;
    }
    .new-game-btn:first-of-type {
        margin-bottom: 7.5px;
    }
    /* GAMEBOARD */
    .app-wrap {
        padding-top: 3rem;
        height: 100%;
    }
}